<style>



div label input {margin-right: 100px;}

.cat{
  margin: 4px;
  background-color: #104068;
  border-radius: 4px;
  border: 1px solid #fff;
  overflow: hidden;
  float: left;
}

.cat label {
  float: left; line-height: 3.0em;
  width: 8.0em; height: 3.0em;
}

.cat label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.cat label input + span{color: #fff;}


/* This will declare how a selected input will look giving generic properties */
.cat input:checked + span {
    color: #ffffff;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}


/*
This following statements selects each category individually that contains an input element that is a checkbox and is checked (or selected) and chabges the background color of the span element.
*/

.a input:checked + span{background-color: #82D44E;}
.b input:checked + span{background-color: #82D44E;}
.c input:checked + span{background-color: #82D44E;}
.d input:checked + span{background-color: #82D44E;}
.e input:checked + span{background-color: #82D44E;}
.f input:checked + span{background-color: #82D44E;}
.g input:checked + span{background-color: #82D44E;}
.h input:checked + span{background-color: #82D44E;}
.i input:checked + span{background-color: #82D44E;}
.j input:checked + span{background-color: #82D44E;}
.k input:checked + span{background-color: #82D44E;}
.l input:checked + span{background-color: #82D44E;}
.m input:checked + span{background-color: #82D44E;}
.n input:checked + span{background-color: #82D44E;}
.o input:checked + span{background-color: #82D44E;}
.p input:checked + span{background-color: #82D44E;}
.q input:checked + span{background-color: #82D44E;}
.r input:checked + span{background-color: #82D44E;}
</style>






  <div class="cat a">
     <label>
        <input type="checkbox" value="1"><span>6 am to 7 am</span>
     </label>
  </div>
  
  <div class="cat b">
     <label>
        <input type="checkbox" value="2"><span>7 am to 8 am</span>
     </label>
  </div>
  
  <div class="cat c">
     <label>
        <input type="checkbox" value="3"><span>8 am to 9 am</span>
     </label>
  </div>
  
  <div class="cat d">
     <label>
        <input type="checkbox" value="4"><span>9 am to 10 am</span>
     </label>
  </div>
  
  <div class="cat e">
     <label>
        <input type="checkbox" value="5"><span>10 am to 11 am</span>
     </label>
  </div>
  
  <div class="cat f">
     <label>
        <input type="checkbox" value="6"><span>11 am to 12 am</span>
     </label>
  </div>
  <div class="cat g">
    <label>
       <input type="checkbox" value="7"><span>12 am to 1 pm</span>
    </label>
 </div>
 
 <div class="cat h">
    <label>
       <input type="checkbox" value="8"><span>1 pm to 2 pm</span>
    </label>
 </div>
 
 <div class="cat i">
    <label>
       <input type="checkbox" value="9"><span>2 pm to 3 pm</span>
    </label>
 </div>
 
 <div class="cat j">
    <label>
       <input type="checkbox" value="10"><span>3 pm to 4 pm</span>
    </label>
 </div>
 
 <div class="cat k">
    <label>
       <input type="checkbox" value="11"><span>4 pm to 5 pm</span>
    </label>
 </div>
 
 <div class="cat l">
    <label>
       <input type="checkbox" value="12"><span>5 pm to 6 pm</span>
    </label>
 </div><div class="cat m">
  <label>
     <input type="checkbox" value="13"><span>6 pm to 7 pm</span>
  </label>
</div>

<div class="cat n">
  <label>
     <input type="checkbox" value="14"><span>7 pm to 8 pm</span>
  </label>
</div>

<div class="cat o">
  <label>
     <input type="checkbox" value="15"><span>8 pm to 9 pm</span>
  </label>
</div>

<div class="cat p">
  <label>
     <input type="checkbox" value="16"><span>9 pm to 10 pm</span>
  </label>
</div>

<div class="cat q">
  <label>
     <input type="checkbox" value="17"><span>10 pm to 11 pm</span>
  </label>
</div>

<div class="cat r">
  <label>
     <input type="checkbox" value="18"><span>11 pm to 12 pm</span>
  </label>
</div>
  